@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: hsl(217, 100%, 97%);
}

.background {
  background-image: url('./components/images/bg-sidebar-desktop.svg');
  background-size: cover;
  height: 30rem;
  width: 15rem;
}

.form {
  background-color: white;
}

.mr-5 {
  border: solid white 1px;
  border-radius: 70%;
  height: 40px;
}

.mr-5:hover {
  background-color: aqua;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.paragraph {
  color: hsl(231, 11%, 63%)
  ;
}
 span, .flex-container {
  color: white;
 }