@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* min-height: 100vh;
  height: 100%; */
  font-family: 'Ubuntu', sans-serif;
  background-color: hsl(217, 100%, 97%);
}

.background {
  background-image: url('./components/images/bg-sidebar-desktop.svg');
  background-size: cover;
  height: 30rem;
  width: 15rem;
  border-radius: 3%;
}

.white-rounding {
  border-radius: 2%;
}

.form {
  background-color: white;
}
.form-button {
  background-color: hsl(213, 96%, 18%);
}

.mr-5 {
  border: solid white 1px;
  border-radius: 70%;
  height: 40px;
}

.mr-5:hover {
  background-color: hsl(206, 94%, 87%);
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.paragraph {
  color: hsl(231, 11%, 63%)
  ;
}
 .selector-span, .flex-container {
  color: white;
 }

 .first-div {
  border: solid 1px hsl(231, 11%, 63%);
  border-radius: 5%;
  cursor: pointer;
 }
 .first-div:hover {
  background-color: hsl(231, 100%, 99%);
 }

 .first-paragraph {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
 }

 .second-paragraph {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
 }
 
 .options-pick {
  border: solid 1px black 
 }
 .options-pick:hover {
  background-color: hsl(206, 94%, 87%);
  border: 1px solid blue;
 }

 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.input:checked + .slider {
  background-color: #2196F3;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 768px) {
  .selector-span, .selector-paragraph{
    display: none;
    /* visibility: hidden; */
  }
  .mobile, .homepage-main, .pick-main, .plan-flex {
    display: flex;
    flex-direction: column;
  }
  .selector-flex {
    flex-direction: row;
    margin-left: 40px;
    margin-top: 0px;
    gap: 50px;
  } 
  .selector-button {
    margin: 0;
    margin-left: 5px;
    margin-top: 20px;
  }
  .background {
  background-image: url('./components/images/bg-sidebar-mobile.svg');
  background-size: cover;
  height: 15rem;
  width: 25rem;
  margin-top: 0%;
  }
  .thank-you {
    margin: 0;
    position: absolute;
    left: 20px;
    top: 10.2rem;
    width: 360px;
  }
  .homepage {
    margin: 0;
    position: absolute;
    left: 4rem;
    top: 9.1rem;
  }
  .plan {
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 10rem;
  }
  .plan, .thank-you, .pick {
    background-color: white;
  }
  .options-flex {
    display: flex;
  }
  .second-paragraph {
    margin-top: 20px;
  }
  .first-paragraph {
    margin-top: 5px;
  }
  .pick-main-div {
    width: 80%;
  }
  .pick {
    margin: 0;
    position: absolute;
    left: 3rem;
    top: 10rem;
  }
  .thankyou-text {
    margin-left: 10px;
  }
  .thankyou-img {
    margin-top: 20px;
  }
}

